apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ kube_master }}:6450
  name: k8s-zeusis-cluster
contexts:
- context:
    cluster: k8s-zeusis-cluster
    user: kubelet
  name: kzc
current-context: kzc
kind: Config
preferences: {}
users:
- name: kubelet
  user:
    password: kubelet.wu
    username: kubelet
